In [6]:
import numpy as np
import pandas as pd

In [7]:
import seaborn as sns
data=pd.read_csv("iris.csv")
print(data)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [8]:
x=data.iloc[:,0:4]
y=data.iloc[:,4:5]

In [9]:
x

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [10]:
y

       species
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
..         ...
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 1 columns]

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.90,test_size=0.10,random_state=100)

In [12]:
x_train

     sepal_length  sepal_width  petal_length  petal_width
97            6.2          2.9           4.3          1.3
62            6.0          2.2           4.0          1.0
77            6.7          3.0           5.0          1.7
122           7.7          2.8           6.7          2.0
112           6.8          3.0           5.5          2.1
..            ...          ...           ...          ...
87            6.3          2.3           4.4          1.3
103           6.3          2.9           5.6          1.8
67            5.8          2.7           4.1          1.0
24            4.8          3.4           1.9          0.2
8             4.4          2.9           1.4          0.2

[135 rows x 4 columns]

In [13]:
print("x_train",x_train.shape)
print("x_test",x_test.shape)
print("y_train",y_train.shape)
print("y_test",y_test.shape)

x_train (135, 4)
x_test (15, 4)
y_train (135, 1)
y_test (15, 1)

In [14]:
#FIT MODEL
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=2)

In [15]:
knn

KNeighborsClassifier(n_neighbors=2)

In [16]:
knn.fit( x_train , y_train)

c:\users\win7\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(n_neighbors=2)

In [17]:
#MODEL PREDICTION
y_pred=knn.predict(x_test)
y_pred

array(['virginica', 'setosa', 'virginica', 'setosa', 'virginica',
       'virginica', 'setosa', 'setosa', 'virginica', 'setosa', 'setosa',
       'virginica', 'setosa', 'setosa', 'virginica'], dtype=object)

In [19]:
from sklearn.metrics import classification_report, confusion_matrix ,accuracy_score
print(accuracy_score(y_test,y_pred))
print(confusion_matrix(y_test,y_pred)) 
  
print(classification_report(y_test,y_pred ))

1.0
[[8 0]
 [0 7]]
              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00         8
   virginica       1.00      1.00      1.00         7

    accuracy                           1.00        15
   macro avg       1.00      1.00      1.00        15
weighted avg       1.00      1.00      1.00        15