In [ ]:
Python Exercise No: 4
Subject:Dictionary and Set in python

In [ ]:
1. What is meant by dictionary?
ans:A dictionary represents a group of elements arranged in the form of key-value pairs.In the dictionary, the first element is considered as 'key' and next element is taken as its value.the key and its value are separated by a colon(:). All the key-value paires are inserted in curly braces {}.

In [ ]:
2. What is difference between dictionary and set?
ans:A dictionary represents a group of elements arranged in the form of key-value pairs.In dictionary the key and its value are separated by a colon(\":\") and keys of dictionary are unique.

In [ ]:
3. Create a python set of mixed data types

In [21]:
A={2,1,"a","j","rat",4.5,8.9}
print(A)

{1, 2, 'j', 4.5, 'a', 'rat', 8.9}

In [ ]:
4. Create a Dictionary of employee name, Id and salary

In [23]:
d={'name':["rupa","jayu"],'Id':[15,16],'salary':[1000,1200]}
print(d)

{'name': ['rupa', 'jayu'], 'Id': [15, 16], 'salary': [1000, 1200]}

In [ ]:
5. Display key-value pairs from dictionary using items () method

In [25]:
d={'name':["rupa","jayu"],'Id':[15,16],'salary':[1000,1200]}
print(d)
pair=d.items()
print(pair)

{'name': ['rupa', 'jayu'], 'Id': [15, 16], 'salary': [1000, 1200]}
dict_items([('name', ['rupa', 'jayu']), ('Id', [15, 16]), ('salary', [1000, 1200])])

In [ ]:
6. Create a dictionary and access values of 2nd key from the dictionary

In [27]:
d={'name':["rupa","jayu"],'Id':[15,16],'salary':[1000,1200]}
print(d)
print(d['Id'])
print(d.get('Id'))

{'name': ['rupa', 'jayu'], 'Id': [15, 16], 'salary': [1000, 1200]}
[15, 16]
[15, 16]

In [ ]:
7. Create a dictionary and then print empty dictionary using clear() method

In [29]:
dict={"name":["sachin","dhoni"],"scores":[10,18]}
print(dict)
a=dict.clear()
print(dict)

{'name': ['sachin', 'dhoni'], 'scores': [10, 18]}
{}

In [ ]:
8.Create a Dictionary of name, roll no,marks,gender and access keys from the dictionary using key () method

In [31]:
d={'name':["A","B"],"roll no":[2,3],"marks":[88,69],"gender":['M','F']}
c=d.keys()
print(c)

dict_keys(['name', 'roll no', 'marks', 'gender'])

In [ ]:
9. Takeset A for even and Bfor odd and print the union of two set

In [33]:
A={2,4,6,8}
B={1,3,5,7}
print(A.union(B))

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
10. If A={1,2,3,4,5} and B={4,5,6,7,8} then find difference,  intersection of set A and B

In [35]:
A={1,2,3,4,5}
B={4,5,6,7,8}
d=A-B
print(d)
i=A&B
print(i)
print(A.difference(B))
print(A.intersection(B))

{1, 2, 3}
{4, 5}
{1, 2, 3}
{4, 5}

In [ ]:
11. If set= {1, 2, 3, 5, 6} then add an element 4 in the set using add () function and remove 3 using discard () function

In [37]:
set= {1, 2, 3, 5, 6}
set.add(4)
set.discard(3)
print(set)

{1, 2, 4, 5, 6}

In [ ]:
12. Add 12,9,11 in the set A = {1, 2, 3, 5, 6} using update () function

In [39]:
A = {1, 2, 3, 5, 6} 
A.update([12,9,11])
print(A)

{1, 2, 3, 5, 6, 9, 11, 12}

In [ ]:
13. Create a set and print the sum of all the elements in the set

In [41]:
A={1,6,9,8,10}
additon=sum(A)
print(additon)

34

In [ ]:
14. if myset={"a","p","p","l","e"}  then check whether a and ris in the set or not using membershipoperator

In [43]:
myset={"a","p","p","l","e"} 
print('a' in myset)
print('r' in myset)
print('a' not in myset)
print('r' not in myset)

True
False
False
True

In [ ]:
15.Create a dictionary of players name and runsin match and print keys and values in dictionary using for loop

In [45]:
dict={"name":["sachin","dhoni"],"scores":[10,8]}
for k,v in dict.items():
    print(k,v)

name ['sachin', 'dhoni']
scores [10, 8]