In [ ]:
Python Exercise No: 3
Subject:List and Tuple in python

In [ ]:
1. What is tuple?
ans:A tuple is an immutable sequence of Python objects.Tuples are sequences ,just like lists.

In [ ]:
2. What is difference between list and tuple?
ans:The differneces between tuples and lists are,the tuples cannot be changed unlike lists and tuples use parentheses.

In [ ]:
3. What is the result of range (1, 12, 2)?

In [33]:
for i in range(1,12,2):
    print(i,end=" ")

1 3 5 7 9 11

In [ ]:
4. Assuming a= [10, 20, 30, 40, 50]
1. Find length of a list?
2. Find maximum and minimum number of a list.

In [2]:
a= [10, 20, 30, 40, 50]
len(a)

5

In [3]:
max(a)

50

In [4]:
min(a)

10

In [12]:
5. If x=(1,2,3,4,5,1,3,1) then what is the result of x*2 and x.count(1)?

SyntaxError: invalid syntax (<ipython-input-12-be29ccf20281>, line 1)

In [9]:
 x=(1,2,3,4,5,1,3,1)
x*2

(1, 2, 3, 4, 5, 1, 3, 1, 1, 2, 3, 4, 5, 1, 3, 1)

In [11]:
x.count(1)

3

In [ ]:
6. Create a list of colors nameand then print first and last colornameof the list using slicing?

In [18]:
l1= ["red", "blue", "pink"]

In [19]:
l1

['red', 'blue', 'pink']

In [23]:
print(l1[0])

red

In [24]:
print(l1[2])

pink

In [ ]:
7. If list=[1,4,7,'a','c',"rat","mat",4,6,4] then  add element 12 using append method and remove rat elementusing remove method  in the given list?

In [26]:
list=[1,4,7,'a','c',"rat","mat",4,6,4]

In [27]:
list

[1, 4, 7, 'a', 'c', 'rat', 'mat', 4, 6, 4]

In [28]:
list.append(12)

In [29]:
list

[1, 4, 7, 'a', 'c', 'rat', 'mat', 4, 6, 4, 12]

In [30]:
list.remove("rat")

In [31]:
list

[1, 4, 7, 'a', 'c', 'mat', 4, 6, 4, 12]

In [ ]:
8. Create two list and concatenate them and then repeat 1st list 3 times?

In [34]:
l1=[1,2,3,4,4]
l2=["a","b","c"]

In [36]:
l1

[1, 2, 3, 4, 4]

In [37]:
l2

['a', 'b', 'c']

In [38]:
l3=l1+l2
print(l3)

[1, 2, 3, 4, 4, 'a', 'b', 'c']

In [39]:
l4=repate(l1,3)
print(l4)

NameError: name 'repate' is not defined

In [ ]:
9. Create a tuple offruits name and then access first 4 elements from the tuple?

In [40]:
my_tuple=("banana","apple","watermelon","mango","guava","grapes")

In [41]:
my_tuple

('banana', 'apple', 'watermelon', 'mango', 'guava', 'grapes')

In [43]:
my_tuple[1:5]

('apple', 'watermelon', 'mango', 'guava')

In [ ]:
10 .Create a list using range function and then convert this list into tuple using tuple function?

In [45]:
for l1 in range(1,12,2):
    print(l1,end=" ")

1 3 5 7 9 11

In [47]:
l1=(1,3,5,7,9,11)

In [49]:
tuple[l1]

TypeError: 'type' object is not subscriptable

In [ ]:
11. Create a tuple using eval function and then obtained the length of tuple?

In [ ]:
12. Create a tuple of integer number and then sorttheelementsof tuple?

In [50]:
my_tuple = (1, 2, 3,4,5,6,)

In [51]:
my_tuple

(1, 2, 3, 4, 5, 6)

In [52]:
sort(my_tuple) print

NameError: name 'sort' is not defined

In [ ]:
13. Create a list of colors name and then insert purple color on 3rd position using insert method?

In [54]:
l1= ["black", "blue", "white","red","pink"]

In [55]:
l1

['black', 'blue', 'white', 'red', 'pink']

In [56]:
l1.insert(3, "purple")

In [57]:
l1

['black', 'blue', 'white', 'purple', 'red', 'pink']

In [ ]:
14. If x= (50, 60, 70, 80, 90, (200,100)) then access 200,100 from the tuple?

In [58]:
x= (50, 60, 70, 80, 90, (200,100))

In [59]:
x

(50, 60, 70, 80, 90, (200, 100))

In [60]:
x[5]

(200, 100)

In [ ]:
15. Create a nested tuple and nested list?

In [61]:
# Nested Tuple
n_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

In [62]:
n_tuple

('mouse', [8, 4, 6], (1, 2, 3))

In [63]:
# Nested List
n_list = ["Happy", [2,0,1,5]]

In [64]:
n_list

['Happy', [2, 0, 1, 5]]